body {

    margin: 30px;
    font-size:30px;

}


.box{
    
    
    width: 30px;
    height: 30px;
    margin: 10px;
    display: inline-block;
    border-style: dashed;
    justify-content:center;
    text-align: center;
    padding:5px;
    }